<!-- Download Section -->
<section id="pricing" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Pricing</h2>
            </div>
            <div class="row download-text">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="text-center">Small Business</h3></div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:40px"><strong>$29 / month</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Single Profile</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Basic Recovery tools</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Email support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#">First month free</a>
                        </div><!--/panel-footer-->
                    </div><!--/panel-->
                </div><!--/col-->
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="text-center">Medium Size</h3></div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:40px"><strong>$99 / month</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Small Business Included</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Multiple profiles</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Data integration</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Priotity Email support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#">Signup</a>
                        </div><!--/panel-footer-->
                    </div><!--/panel-->
                </div><!--/col-->
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="text-center">Enterprise</h3></div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:40px"><strong>$249 / month</strong></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Medium Size Included</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Multi-faceted monitoring</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> In person case analysis</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Phone support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#">Signup</a>
                        </div><!--/panel-footer-->
                    </div><!--/panel-->
                </div><!--/col-->
            </div><!--/row-->
        </div>
    </div>
</section>
